<button type="button" role="button" class="btn btn-primary ml-auto float-right m-2" (click)="addCourse()">
Add Course
</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Course No.</th>
      <th>Course Name</th>
      <th>Description</th>
      <th>Credit Hours</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of courseList" (click)="editCourse(course)">
      <td class="text-right">
        <span class="mr-2">{{course.courseId}}</span>
      </td>
      <td>
        {{course.courseName}}
      </td>
      <td>
        {{course.description}}
      </td>
      <td class="text-right">
        <span class="mr-2">{{course.creditHours}}</span>
      </td>
    </tr>
  </tbody>
</table>
