<body>
  <div class="container">
    <h1>Student Listing</h1>
    <div class="container mt-3 mb-2">
      <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-10">
          <app-search-bar></app-search-bar>
        </div>
      </div>
    </div>
    <div class="container">
      <ul class="nav">
        <li class="nav-item">
          <a routerLink="/students" routerLinkActive="active" class="nav-link" (click)="setCurrentPage('students')">
            Students
          </a>
        </li>
        <li class="nav-item">
          <a  routerLink="/courses" routerLinkActive="active"  class="nav-link" (click)="setCurrentPage('courses')">
            Courses
          </a>
        </li>
      </ul>
      <router-outlet></router-outlet>
    </div>
  </div>
</body>
