<button type="button" role="button" class="btn btn-primary ml-auto float-right m-2" (click)="addStudent()">
  Add Student
</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Cum. GPA</th>
      <th>Courses (Listed)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of studentList" (click)="editStudent(student)">
      <td>
        {{student.firstName}}
      </td>
      <td>
        {{student.lastName}}
      </td>
      <td>
        {{student.email}}
      </td>
      <td>
        {{student.cumulativeGpa}}
      </td>
      <td>
        {{student.courses}}
      </td>
    </tr>
  </tbody>
</table>
