<button type="button" role="button" class="btn btn-primary ml-auto float-right m-2" (click)="addStudent()">
  Add Student
</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Cum. GPA</th>
      <th>Courses (Listed)</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of studentList">
      <td>
        {{student.firstName}}
      </td>
      <td>
        {{student.lastName}}
      </td>
      <td>
        {{student.email}}
      </td>
      <td>
        {{student.cumulativeGpa}}
      </td>
      <td>
        <p class="maxWidth400">
          {{student.courses}}
        </p>
      </td>
      <td>
        <button class="btn btn-primary mr-2" type="button" role="button" (click)="editStudent(student)">
          <i class="fa fa-pencil"></i>
        </button>
        <button class="btn btn-danger" type="button" role="button" (click)="deleteStudent(student.studentId)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
